<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ metadata.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index,follow">
    <meta name="generator" content="Eleventy">
    <link rel="preload" href="https://f002.backblazeb2.com/file/bravery/webfont/name_sans-variable-subset-0.7.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/assets/css/dough.css">
</head>
