<figure class="toppings parallax" role="img" aria-label="The page background image has abstract shapes that look like pizza toppings. These move at different times when the page is scrolled.">

</figure>