---
title: "HighEdWeb '22"
date: 2022-10-11
time: "5pm"
location: "Little Rock, Arkansas"
loc_short: "Little Rock"
rsvp_url: "https://www.eventbrite.com/e/higher-ed-pizza-pseweb-in-montreal-tickets-372256989677"
permalink: false
---