---
title: "PSEWEB '22"
date: 2022-07-12
time: "7:30pm"
location: "Montreal, Québec"
loc_short: "Montreal"
rsvp_url: "https://www.eventbrite.com/e/higher-ed-pizza-pseweb-in-montreal-tickets-372256989677"
permalink: false
---